/* Your app styles here */
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Princess+Sofia|Sawarabi+Mincho');

/*
font-family: 'Princess Sofia', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Sawarabi Mincho', sans-serif;
*/
.content-shadow {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

.heading {
  font-family: 'Princess Sofia', cursive;
}

.subheading {
  font-family: 'Old Standard TT', serif;
}

.p-serif {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.white {
  color: #fff;
}

/* MAIN VIEW, background & navbar  */
.page-content {
  height: 90% !important;
  margin-top: -15px !important;
}

.nav {
  background-color: transparent !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)) !important;
  height: 70px !important;
}

.nav-title {
  font-size: 32px;
  color: rgb(224, 132, 47);
  text-shadow: 3px 3px 5px #000 !important;
  padding: 15px;
  margin: 20px !important;
  letter-spacing: 0.8px;
  font-weight: 600 !important;
}

/* .webp .blur-content .bg {
  background: url("../images/bg-min.webp") no-repeat center !important;
} */

.blur-content, .bg {
  background: url("../images/bg-min.jpg") no-repeat center !important;
  background-size: cover !important;
  max-width: 100%;
}

.blur-content,
.blurfilter {
  position: fixed;
  width: 100%;
}

.blur-content {
  height: 100%;
}

.blurfilter {
  top: 0;
  height: 70px;
  position: fixed;
  z-index: 10;
  overflow: hidden;
  -webkit-mask: -webkit-linear-gradient(black, rgba(0, 0, 0, 0));
  -webkit-mask: linear-gradient(black, rgba(0, 0, 0, 0));
}

.item-title {
  padding: 3px 5px !important;
}

.description {
  background-color: rgba(0, 0, 0, 0.3) !important;
  padding: 15px 20px;
  border-radius: 2px;
  line-height: 23px;
}

.description::first-letter {
  font-family: 'Princess Sofia', cursive;
  font-size: 200%;
  color: rgb(224, 95, 47);
  font-weight: 600;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 9999;
  font-size: 60px;
  text-align: center;
  padding-top: 200px;
  color: #fff;
}
